API_URL=http://127.0.0.1:1317
RPC_URL=http://127.0.0.1:26657
WS_URL=ws://127.0.0.1:26657
VALIDATOR_MNEMONIC=clever spin draw twelve document tornado panther crisp picture feel remind want basket uncle stove aisle hamster velvet dry protect buyer fiber choice answer
RECIPIENT_MNEMONIC=captain roast forget tree cliff common peasant unhappy reflect hole they essence trash paper slab carpet engine exist urge bulk kite trade rocket kid
ADMIN_MNEMONIC=border expire liar nurse pulse code network nut solution juice rate cloth bread broom total lobster clog response ill before acoustic wasp club clump
