[url "git@aumega-cosmos-sdk.github.com:AumegaChain/cosmos-sdk"]
        insteadOf = https://github.com/AumegaChain/cosmos-sdk

[url "git@aumega-ibc-go.github.com:AumegaChain/ibc-go"]
        insteadOf = https://github.com/AumegaChain/ibc-go