[url "git@mantrachain-cosmos-sdk.github.com:MantrachainChain/cosmos-sdk"]
        insteadOf = https://github.com/MantrachainChain/cosmos-sdk

[url "git@mantrachain-ibc-go.github.com:MantrachainChain/ibc-go"]
        insteadOf = https://github.com/MantrachainChain/ibc-go