on:
  push:
    branches: main
  pull_request:
    branches: main

name: Build and validate genesis
jobs:
  build:
    strategy:
      matrix:
        go-version: [1.23.x]
        os: [warp-ubuntu-latest-arm64-32x-spot, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
      - name: install
        run: make install
      - name: validate genesis
        run: mantrachaind genesis validate-genesis networks/dukong/genesis.json
