on:
  push:
    branches: main
  pull_request:
    branches: main

name: Skip Connect Integration Test
jobs:
  connect-test:
    strategy:
      matrix:
        go-version: [1.23.x]
        os: [ubuntu-latest-x64-xlarge]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go-version }}
      - uses: actions/checkout@v4
      - run: make test-connect
