name: Run Gosec
on:
  pull_request:
  push:
    branches:
      - main
      - release/**

jobs:
  Gosec:
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    env:
      GO111MODULE: on
    steps:
      - uses: actions/checkout@v4
      - uses: technote-space/get-diff-action@v6
        with:
          SUFFIX_FILTER: |
            .go
            .mod
            .sum
      - name: Run Gosec Security Scanner
        uses: cosmos/gosec@master
        with:
          # we let the report trigger content trigger a failure using the GitHub Security features.
          args: "-no-fail -fmt sarif -out results.sarif ./..."
        if: env.GIT_DIFF_FILTERED != ''
      - name: Upload SARIF file
        uses: github/codeql-action/upload-sarif@v3
        with:
          # Path to SARIF file relative to the root of the repository
          sarif_file: results.sarif
        if: env.GIT_DIFF_FILTERED != ''
