# This workflow creates a release using goreleaser
# via the 'make release' command.

name: Create release

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      release_tag:
        description: "The desired tag for the release (e.g. v0.1.0)."
        required: true

permissions:
  contents: write

jobs:
  release:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.release_tag || github.ref }}
      - name: Install gettext
        run: sudo apt-get update && sudo apt-get install -y gettext
      - name: Make release
        run: |
          make release
        env:
          REPO_OWNER: ${{ github.repository_owner }}
          REPO_NAME: ${{ github.event.repository.name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
